.sieve-analysis-container {
  margin-left: 260px;
  /* Space for sidebar */
  padding: 70px 20px 0 20px;
  background: var(--card-bg);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
  color: var(--text-color);
}

.label {
  margin-bottom: 10px;
  margin-left: 5px;
}

input {
  height: 25px;
  margin: -4px 5px;
}

.header {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--text-color);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  padding: 8px;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  font-size: 14px;
  background-color: var(--input-bg);
  color: var(--input-text);
}

.btn-primary {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #0062cc;
  /* or darker var */
}

.btn-submit:hover {
  background: #003c9e;
}