<div class="sieve-analysis-container">
  <h1 class="header">Sieve Analysis </h1>
  <form (ngSubmit)="insert()" #form="ngForm">

    <!-- First Line -->
    <div class="d-flex align-items-center gap-1 mb-1">
      <div class="align-items-center">
        <label class="col-form-label me-1">Sample By</label>
        <input type="text" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.sampleBy" name="sampleBy" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-1">Sample Date</label>
        <input type="date" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.samplingDate" name="samplingDate" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-1">Sample No</label>
        <input type="number" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.sampleNo" name="sampleNo" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-1">Test Name</label>
        <input type="text" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.nameOfTest" name="nameOfTest" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-1">Test By</label>
        <input type="text" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.testBy" name="testBy" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-1">Testing Date</label>
        <input type="date" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.testingDate" name="testingDate" required>
      </div>
    </div>

    <!-- Second Line -->
    <div class="d-flex align-items-center gap-1 mb-1">
      <div class="align-items-center">
        <label class="col-form-label me-1">Standard</label>
        <input type="text" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.materialType" name="materialType" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-1">Consultant</label>
        <input type="text" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.consultant" name="consultant" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-1">Owner</label>
        <input type="text" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.owner" name="owner" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-1">Location</label>
        <input type="text" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.location" name="location" required>
      </div>

      <div class="align-items-center">
        <label class="col-form-label me-1">Total Weigh </label>
        <input type="number" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.totalWeigh" name="totalWeigh" required>
      </div>



    </div>
    <!-- Notes Line -->
    <div class="d-flex align-items-center mb-1 mt-2">
      <label class="col-form-label me-2">Notes</label>
      <input type="text" class="form-control"
             [(ngModel)]="sieveAnalysis.notes" name="notes" style="flex: 1;">
    </div>


    <div class="grid-container">
      <div class="form-group">
        <label class="label">Standard(mm)</label>
        <input type="text" class="form-control" [value]="standard[0]">
      </div>
      <div class="form-group">
        <label class="label">Alternative(Inch)</label>
        <input type="text" class="form-control" [value]="alertnative[0]">
      </div>
      <div class="form-group">
        <label class="label">Retained Weight (gm)</label>
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedA" name="massRetainedA"
               id="massRetainedA" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[1]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[1]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedB" name="massRetainedB"
               id="massRetainedB" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[2]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[2]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedC" name="massRetainedC"
               id="massRetainedC" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[3]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[3]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedD" name="massRetainedD"
               id="massRetainedD" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[4]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[4]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedE" name="massRetainedE"
               id="massRetainedE" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[5]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[5]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedF" name="massRetainedF"
               id="massRetainedF" required>
      </div>
      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[6] ">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[6]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedG" name="massRetainedG"
               id="massRetainedG" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[7] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[7]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedH" name="massRetainedH"
               id="massRetainedH" required>
      </div>


      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[8] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[8]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedI" name="massRetainedI"
               id="massRetainedI" required>
      </div>


      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[9] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[9]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedJ" name="massRetainedJ"
               id="massRetainedJ" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[10] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[10]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedK" name="massRetainedK"
               id="massRetainedK" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[11] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[11]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedL" name="massRetainedL"
               id="massRetainedL" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[12] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[12]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedM" name="massRetainedM"
               id="massRetainedM" required>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
  </form>
</div>


