<div class="form-container">
  <h1 class="header">Moisture Density Relationship Test (Proctor) </h1>
  <form #form="ngForm" (submit)="update()">
    <div class="form-step">
      <div class="bitumen-form-container">

        <div class="d-flex align-items-center gap-1 mb-1">
          <div class="align-items-center">
            <label class="col-form-label me-1">Sample By</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="moistureDensityRelationship.sampleBy" name="sampleBy" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Sample Date</label>
            <input type="date" class="form-control compact-input"
                   [(ngModel)]="moistureDensityRelationship.sampleDate" name="sampleDate" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Sample No</label>
            <input type="number" class="form-control compact-input"
                   [(ngModel)]="moistureDensityRelationship.sampleNo" name="sampleNo" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Test Name</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="moistureDensityRelationship.nameOfTest" name="nameOfTest" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Testing Date</label>
            <input type="date" class="form-control compact-input"
                   [(ngModel)]="moistureDensityRelationship.testingDate" name="testingDate" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Standard</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="moistureDensityRelationship.classification" name="classification" required>
          </div>
        </div>

        <!-- Notes Line -->
        <div class="d-flex align-items-center mb-1">
          <div class="align-items-center">
            <label class="col-form-label me-1">Remarks</label>
            <textarea type="text" class="form-control compact-input"
                  [(ngModel)]="moistureDensityRelationship.notes" name="notes" style="width: 890px; height: 100px;"></textarea>
          </div>
        </div>

        <div class="row g-2 mb-2">

          <div class="col-md-2">
            <label class="form-label">Wt. of Mould (g)</label>
            <input type="number" class="form-control" [(ngModel)]="moistureDensityRelationship.wtOfMould"
                   name="WtOfMould">
          </div>
          <div class="col-md-2">
            <label class="form-label">Vol. of Mould (cc)</label>
            <input type="number" class="form-control" [(ngModel)]="moistureDensityRelationship.volOfMould"
                   name="VolOfMould">
          </div>
          <div class="col-md-2">
            <label class="form-label">Wt. of Rammer (kg)</label>
            <input type="number" class="form-control" [(ngModel)]="moistureDensityRelationship.wtOfRammer"
                   name="WtOfRammer">
          </div>
          <div class="col-md-2">
            <label class="form-label">Blows/Layers</label>
            <input type="number" class="form-control" [(ngModel)]="moistureDensityRelationship.noBlows" name="NoBlows">
          </div>
          <div class="col-md-2">
            <label class="form-label">No. of Layers</label>
            <input type="number" class="form-control" [(ngModel)]="moistureDensityRelationship.noOfLayers"
                   name="NoOfLayers">
          </div>
        </div>

        <h5 class="mt-3">Mould Data</h5>
        <table class="table table-bordered table-sm text-center">
          <thead class="table-light">
          <tr>
            <th>Trial Number #</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Wet Wt.Soil+Mould (gm)</td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.wetWtSoilMouldA" name="wetWtSoilContA"></td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.wetWtSoilMouldB" name="wetWtSoilMouldB"></td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.wetWtSoilMouldC" name="wetWtSoilMouldC"></td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.wetWtSoilMouldD" name="wetWtSoilMouldD"></td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.wetWtSoilMouldE" name="wetWtSoilMouldE"></td>
          </tr>
          </tbody>
        </table>

        <h5 class="mt-3">Moisture Content Data %</h5>
        <table class="table table-bordered table-sm text-center">
          <thead class="table-light">
          <tr>
            <th>Container #</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Wet Wt.Soil+Cont. (gm)</td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.wetWtSoilContA" name="wetWtSoilContA"></td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.wetWtSoilContB" name="wetWtSoilContB"></td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.wetWtSoilContC" name="wetWtSoilContC"></td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.wetWtSoilContD" name="wetWtSoilContD"></td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.wetWtSoilContE" name="wetWtSoilContE"></td>
          </tr>
          <tr>
            <td>Dry Wt.Soil+Cont. (gm)</td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.dryWtSoilContA" name="dryWtSoilContA"></td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.dryWtSoilContB" name="dryWtSoilContB"></td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.dryWtSoilContC" name="dryWtSoilContC"></td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.dryWtSoilContD" name="dryWtSoilContD"></td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.dryWtSoilContE" name="dryWtSoilContE"></td>
          </tr>
          <tr>
            <td>Wt. of Container (gm)</td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.wtOfContainerA" name="wtOfContainerA"></td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.wtOfContainerB" name="wtOfContainerB"></td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.wtOfContainerC" name="wtOfContainerC"></td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.wtOfContainerD" name="wtOfContainerD"></td>
            <td><input type="number" [(ngModel)]="moistureDensityRelationship.wtOfContainerE" name="wtOfContainerE"></td>
          </tr>

          </tbody>
        </table>


        <div class="navigation-buttons">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
        </div>
      </div>
    </div>

  </form>
</div>
