<div class="form-container">
  <h1 class="header">Portland Cement Concrete Cylinders Compressive Strength Test</h1>
  <form #form="ngForm" (submit)="update()">
    <div class="form-step">
      <div class="bitumen-form-container">

        <div class="d-flex align-items-center gap-1 mb-1">
          <div class="align-items-center">
            <label class="col-form-label me-1">Company</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.company" name="company" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Data Casting </label>
            <input type="date" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.dataCasting" name="dataCasting" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Data Received</label>
            <input type="date" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.dataReceived" name="dataReceived" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Date Tested</label>
            <input type="number" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.dateTested" name="dateTested" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Lab. Report No.</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.labreportNo" name="labreportNo" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Type of Sample</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.typeofSample" name="typeofSample" required>
          </div>
        </div>

        <div class="d-flex align-items-center gap-1 mb-1">
          <div class="align-items-center">
            <label class="col-form-label me-1">Structure</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.structure" name="structure" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Sample By</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.sampleBy" name="sampleBy" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Slump (mm) ASTM</label>
            <input type="number" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.slump" name="slump" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Temperature(°C)</label>
            <input type="number" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.temperature" name="temperature" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Req. Strength for 28 Days (kg/cm2)</label>
            <input type="number" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.reqstrengthKg" name="reqstrengthKg" required>
          </div>
          
          <div class="align-items-center">
            <label class="col-form-label me-1">Sample No</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.sampleNo" name="sampleNo" required>
          </div>
        </div>

        <div class="align-items-center gap-1 mb-5">
          <div class="align-items-center">
            <label class="col-form-label me-1">Notes</label>
            <input type="text" class="form-control compact-input"
                  [(ngModel)]="compressiveStrength.notes" name="notes" maxlength="233">
          </div>
        </div>


        <!-- <h3 class="head mt-3">Concrete Compressive Strength Test</h3>
        
        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Cement Content</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.cementContent" name="cementContent" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Cement Content Type</label>
            <input type="text" class="form-control compact-input" [(ngModel)]="compressiveStrength.cementContentType" name="cementContentType" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Spec. 28 Days Strength</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.specTwintyEightDayStrength" name="specTwintyEightDayStrength" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Diameter (cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.diameter" name="diameter" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Height (cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.height" name="height" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Date Cast</label>
            <input type="date" class="form-control compact-input" [(ngModel)]="compressiveStrength.dateCast" name="dateCast" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Slump (mm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.slump" name="slump" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Air Temp (°C)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.airTemperature" name="airTemperature" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Concrete Temp (°C)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.concreteTemperature" name="concreteTemperature" required>
          </div>
        </div> -->


        <h3 class="head">Concrete </h3>
        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample NO</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleNOA" name="sampleNOA" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Dia.(cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.diaA" name="diaA" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Length (cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.lengthA" name="lengthA" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight Sample (gm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightSampleA" name="weightSampleA" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadknA" name="testLoadknA" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KG)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadkgA" name="testLoadkgA" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Avg. Comp. Strength (Mpa) exp</label>
            <input type="text" class="form-control compact-input" [(ngModel)]="compressiveStrength.expAvgA" name="expAvgA" required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample NO</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleNOB" name="sampleNOB" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Dia.(cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.diaB" name="diaB" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Length (cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.lengthB" name="lengthB" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight Sample (gm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightSampleB" name="weightSampleB" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadknB" name="testLoadknB" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KG)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadkgB" name="testLoadkgB" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Avg. Comp. Strength (Mpa) exp</label>
            <input type="text" class="form-control compact-input" [(ngModel)]="compressiveStrength.expAvgB" name="expAvgB" required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample NO</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleNOC" name="sampleNOC" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Dia.(cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.diaC" name="diaC" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Length (cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.lengthC" name="lengthC" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight Sample (gm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightSampleC" name="weightSampleC" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadknC" name="testLoadknC" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KG)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadkgC" name="testLoadkgC" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Avg. Comp. Strength (Mpa) exp</label>
            <input type="text" class="form-control compact-input" [(ngModel)]="compressiveStrength.expAvgC" name="expAvgC" required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample NO</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleNOD" name="sampleNOD" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Dia.(cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.diaD" name="diaD" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Length (cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.lengthD" name="lengthD" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight Sample (gm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightSampleD" name="weightSampleD" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadknD" name="testLoadknD" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KG)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadkgD" name="testLoadkgD" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Avg. Comp. Strength (Mpa) exp</label>
            <input type="text" class="form-control compact-input" [(ngModel)]="compressiveStrength.expAvgD" name="expAvgD" required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample NO</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleNOE" name="sampleNOE" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Dia.(cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.diaE" name="diaE" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Length (cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.lengthE" name="lengthE" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight Sample (gm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightSampleE" name="weightSampleE" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadknE" name="testLoadknE" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KG)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadkgE" name="testLoadkgE" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Avg. Comp. Strength (Mpa) exp</label>
            <input type="text" class="form-control compact-input" [(ngModel)]="compressiveStrength.expAvgE" name="expAvgE" required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample NO</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleNOF" name="sampleNOF" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Dia.(cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.diaF" name="diaF" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Length (cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.lengthF" name="lengthF" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight Sample (gm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightSampleF" name="weightSampleF" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadknF" name="testLoadknF" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KG)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadkgF" name="testLoadkgF" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Avg. Comp. Strength (Mpa) exp</label>
            <input type="text" class="form-control compact-input" [(ngModel)]="compressiveStrength.expAvgF" name="expAvgF" required>
          </div>
        </div>


        <div class="navigation-buttons">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
