<div class="form-container">
  <h1 class="header">Portland Cement Concrete Cylinders Compressive Strength Test</h1>
  <form #form="ngForm" (submit)="update()">
    <div class="form-step">
      <div class="bitumen-form-container">

        <div class="d-flex align-items-center gap-1 mb-1">
          <div class="align-items-center">
            <label class="col-form-label me-1">Company</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.company" name="company" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Data Casting </label>
            <input type="date" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.dataCasting" name="dataCasting" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Data Received</label>
            <input type="date" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.dataReceived" name="dataReceived" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Date Tested</label>
            <input type="number" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.dateTested" name="dateTested" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Lab. Report No.</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.labreportNo" name="labreportNo" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Type of Sample</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.typeofSample" name="typeofSample" required>
          </div>
        </div>

        <div class="d-flex align-items-center gap-1 mb-1">
          <div class="align-items-center">
            <label class="col-form-label me-1">Structure</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.structure" name="structure" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Sample By</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.sampleBy" name="sampleBy" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Slump (mm) ASTM</label>
            <input type="number" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.slump" name="slump" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Temperature(°C)</label>
            <input type="number" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.temperature" name="temperature" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Req. Strength for 28 Days (kg/cm2)</label>
            <input type="number" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.reqstrengthKg" name="reqstrengthKg" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Sample No</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.sampleNo" name="sampleNo" required>
          </div>
        </div>

        <!-- Notes Line -->
        <div class="d-flex align-items-center mb-1">
          <div class="align-items-center">
            <label class="col-form-label me-1">Remarks</label>
            <textarea type="text" class="form-control compact-input"
                  [(ngModel)]="compressiveStrength.notes" name="notes" style="width: 1010px; height: 100px;"></textarea>
          </div>
        </div>


        <h3 class="head">Concrete </h3>
        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample NO</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleNOA" name="sampleNOA" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Dia.(cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.diaA" name="diaA" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Length (cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.lengthA" name="lengthA" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight Sample (gm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightSampleA" name="weightSampleA" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadknA" name="testLoadknA" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Avg. Comp. Strength (Mpa) exp</label>
            <input type="text" class="form-control compact-input" [(ngModel)]="compressiveStrength.expAvgA" name="expAvgA">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample NO</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleNOB" name="sampleNOB" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Dia.(cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.diaB" name="diab" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Length (cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.lengthB" name="lengthb" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight Sample (gm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightSampleB" name="weightSampleB" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadknB" name="testLoadknB" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Avg. Comp. Strength (Mpa) exp</label>
            <input type="text" class="form-control compact-input" [(ngModel)]="compressiveStrength.expAvgB" name="expAvgb" disabled="true" value="{{compressiveStrength.expAvgA}}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample NO</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleNOC" name="sampleNOC" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Dia.(cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.diaC" name="diaC" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Length (cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.lengthC" name="lengthC" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight Sample (gm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightSampleC" name="weightSampleC" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadknC" name="testLoadknC" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Avg. Comp. Strength (Mpa) exp</label>
            <input type="text" class="form-control compact-input" [(ngModel)]="compressiveStrength.expAvgA" name="expAvgC" disabled="true" value="{{compressiveStrength.expAvgA}}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample NO</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleNOD" name="sampleNOD" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Dia.(cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.diaD" name="diaD" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Length (cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.lengthD" name="lengthD" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight Sample (gm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightSampleD" name="weightSampleD">
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadknD" name="testLoadknD" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Avg. Comp. Strength (Mpa) exp</label>
            <input type="text" class="form-control compact-input" [(ngModel)]="compressiveStrength.expAvgB" name="expAvgB" required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample NO</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleNOE" name="sampleNOE" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Dia.(cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.diaE" name="diaE" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Length (cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.lengthE" name="lengthE" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight Sample (gm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightSampleE" name="weightSampleE" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadknE" name="testLoadknE" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Avg. Comp. Strength (Mpa) exp</label>
            <input type="text" class="form-control compact-input" [(ngModel)]="compressiveStrength.expAvgE" name="expAvgE" disabled="true" value="{{compressiveStrength.expAvgB}}">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample NO</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleNOF" name="sampleNOF" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Dia.(cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.diaF" name="diaF" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Length (cm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.lengthF" name="lengthF" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight Sample (gm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightSampleF" name="weightSampleF" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Test Load (KN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.testLoadknF" name="testLoadknF" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Avg. Comp. Strength (Mpa) exp</label>
            <input type="text" class="form-control compact-input" [(ngModel)]="compressiveStrength.expAvgF" name="expAvgF" disabled="true" value="{{compressiveStrength.expAvgB}}">
          </div>
        </div>


        <div class="navigation-buttons">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
