<div class="form-container">
  <h1 class="header">Atterberg Limits Data Sheet</h1>
  <form #form="ngForm" (submit)="insert()">
    <div class="form-step">
      <div class="bitumen-form-container">

        <div class="d-flex align-items-center gap-1 mb-1">
          <div class="align-items-center">
            <label class="col-form-label me-1">Sample By</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="atterbergLimits.sampleBy" name="sampleBy" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Sample Date</label>
            <input type="date" class="form-control compact-input"
                   [(ngModel)]="atterbergLimits.sampleDate" name="sampleDate" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Sample No</label>
            <input type="number" class="form-control compact-input"
                   [(ngModel)]="atterbergLimits.sampleNo" name="sampleNo" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Test Name</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="atterbergLimits.nameOfTest" name="nameOfTest" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Testing Date</label>
            <input type="date" class="form-control compact-input"
                   [(ngModel)]="atterbergLimits.testingDate" name="testingDate" required>
          </div>

          <div class="align-items-center">
            <label class="col-form-label me-1">Standard</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="atterbergLimits.classification" name="classification" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Report No</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="atterbergLimits.reportNo" name="reportNo" required>
          </div>
        </div>

        <!-- Notes Line -->
        <div class="d-flex align-items-center mb-1">
          <div class="align-items-center">
            <label class="col-form-label me-1">Remarks</label>
            <textarea type="text" class="form-control compact-input"
                  [(ngModel)]="atterbergLimits.notes" name="notes" style="width: 890px; height: 100px;"></textarea>
          </div>
        </div>

        <!-- Test Data Table -->
        <div class="test-table-container">
          <table class="test-data-table">
            <thead>
            <tr>
              <th rowspan="2">TEST</th>
              <th colspan="4">PLASTIC LIMIT</th>
              <th colspan="4">LIQUID LIMIT</th>
            </tr>
            <tr>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
            </tr>
            </thead>
            <tbody>
            <!-- Number of Blows -->
            <tr>
              <td class="variable-cell">
                <label>Number of Blows</label>
                <div class="units">(blows)</div>
              </td>
              <td colspan="4" class="empty-cell"></td>

              <td>
                <input type="number" class="form-control table-input" [(ngModel)]="atterbergLimits.numberOfBlows5"
                       name="numberOfBlows5">
              </td>
              <td>
                <input type="number" class="form-control table-input" [(ngModel)]="atterbergLimits.numberOfBlows6"
                       name="numberOfBlows6">
              </td>
              <td>
                <input type="number" class="form-control table-input" [(ngModel)]="atterbergLimits.numberOfBlows7"
                       name="numberOfBlows7">
              </td>
              <td>
                <input type="number" class="form-control table-input" [(ngModel)]="atterbergLimits.numberOfBlows8"
                       name="numberOfBlows8">
              </td>
            </tr>

            <!-- Can Number -->
            <tr>
              <td class="variable-cell">
                <label>Can Number</label>
              </td>
              <td>
                <input type="number" class="form-control table-input" [(ngModel)]="atterbergLimits.canNumber1"
                       name="canNumber1">
              </td>
              <td>
                <input type="number" class="form-control table-input" [(ngModel)]="atterbergLimits.canNumber2"
                       name="canNumber2">
              </td>
              <td>
                <input type="number" class="form-control table-input" [(ngModel)]="atterbergLimits.canNumber3"
                       name="canNumber3">
              </td>
              <td>
                <input type="text" class="form-control table-input" [(ngModel)]="atterbergLimits.canNumber4"
                       name="canNumber4">
              </td>
              <td>
                <input type="number" class="form-control table-input" [(ngModel)]="atterbergLimits.canNumber5"
                       name="canNumber5">
              </td>
              <td>
                <input type="number" class="form-control table-input" [(ngModel)]="atterbergLimits.canNumber6"
                       name="canNumber6">
              </td>
              <td>
                <input type="text" class="form-control table-input" [(ngModel)]="atterbergLimits.canNumber7"
                       name="canNumber7">
              </td>
              <td>
                <input type="number" class="form-control table-input" [(ngModel)]="atterbergLimits.canNumber8"
                       name="canNumber8">
              </td>

            </tr>

            <!-- Mass of Empty Can -->
            <tr>
              <td class="variable-cell">
                <label>Mass of Empty Can</label>
                <div class="units">(g)</div>
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massOfEmptyCan1" name="massOfEmptyCan1">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massOfEmptyCan2" name="massOfEmptyCan2">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massOfEmptyCan3" name="massOfEmptyCan3">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massOfEmptyCan4" name="massOfEmptyCan4">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massOfEmptyCan5" name="massOfEmptyCan5">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massOfEmptyCan6" name="massOfEmptyCan6">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massOfEmptyCan7" name="massOfEmptyCan7">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massOfEmptyCan8" name="massOfEmptyCan8">
              </td>


            </tr>

            <!-- Mass Can & Soil (Wet) -->
            <tr>
              <td class="variable-cell">
                <label>Mass Can & Soil (Wet)</label>
                <div class="units">(g)</div>
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massCanAndSoilWet1" name="massCanAndSoilWet1">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massCanAndSoilWet2" name="massCanAndSoilWet2">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massCanAndSoilWet3" name="massCanAndSoilWet3">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massCanAndSoilWet4" name="massCanAndSoilWet4">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massCanAndSoilWet5" name="massCanAndSoilWet5">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massCanAndSoilWet6" name="massCanAndSoilWet6">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massCanAndSoilWet7" name="massCanAndSoilWet7">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massCanAndSoilWet8" name="massCanAndSoilWet8">
              </td>

            </tr>

            <!-- Mass Can & Soil (Dry) -->
            <tr>
              <td class="variable-cell">
                <label>Mass Can & Soil (Dry)</label>
                <div class="units">(g)</div>
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massCanAndSoilDry1" name="massCanAndSoilDry1">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massCanAndSoilDry2" name="massCanAndSoilDry2">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massCanAndSoilDry3" name="massCanAndSoilDry3">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massCanAndSoilDry4" name="massCanAndSoilDry4">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massCanAndSoilDry5" name="massCanAndSoilDry5">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massCanAndSoilDry6" name="massCanAndSoilDry6">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massCanAndSoilDry7" name="massCanAndSoilDry7">
              </td>
              <td>
                <input type="number" step="0.01" class="form-control table-input"
                       [(ngModel)]="atterbergLimits.massCanAndSoilDry8" name="massCanAndSoilDry8">
              </td>


            </tr>

            </tbody>
          </table>
        </div>

        <!-- Results Section -->
        <div class="results-section">
          <div class="result-row">
            <label class="result-label">Liquid Limit (LL):</label>
            <input type="number" step="0.1" class="form-control result-input"
                   [(ngModel)]="atterbergLimits.liquidLimit" name="liquidLimit">
          </div>
          <div class="result-row">
            <label class="result-label">Plastic Limit (PL or wP):</label>
            <input type="number" step="0.1" class="form-control result-input"
                   [(ngModel)]="atterbergLimits.plasticLimit" name="plasticLimit">
          </div>
          <div class="result-row">
            <label class="result-label">USCS Classification::</label>
            <input type="text" step="0.1" class="form-control result-input"
                   [(ngModel)]="atterbergLimits.uscs" name="uscs">
          </div>
        </div>


        <div class="navigation-buttons">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
        </div>
      </div>
    </div>

  </form>
</div>
