<div class="body">
  <div class="register-container">
    <h4 class="text-center mb-4">New Test</h4>
    <form (ngSubmit)="insert()" #form="ngForm">
      <div class="row mb-3">
        <div class="col-6">
          <label for="project" class="form-label">Project Name</label>
          <select class="form-select" aria-label="Default select example" type="text" id="project" name="project"
                  [(ngModel)]="test.project.id" required>
            <option *ngFor="let project of projects" [value]="project.id">{{ project.projectName }}</option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-6">
          <label for="testManager" class="form-label">Test Name</label>
          <select class="form-select" aria-label="Default select example" type="text" id="testManager"
                  name="testManager"
                  [(ngModel)]="test.testManager.id" (change)="onSideChange(test.testManager.id)" required>
            <option *ngFor="let test of testManagers" [value]="test.id">{{ test.name }}</option>
          </select>
        </div>
        <div class="col-6">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" id="price" [value]="price" [(ngModel)]="test.price" name="price"
                 readonly required>
        </div>
      </div>


      <div class="col-6">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" id="date" [(ngModel)]="test.date" name="date" required>
      </div>


      <button type="submit" class="btn btn-primary w-25 mx-auto d-block mt-4" [disabled]="!form.valid">Save</button>
    </form>
  </div>
</div>
