/* combined-form.component.css */
.form-container {

  padding: 70px 20px 0 20px;
  background: var(--card-bg);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
  color: var(--text-color);
}

.header {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-color);
}

.step-indicator {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 20px;
}

.step-indicator span {
  padding: 10px 20px;
  border-radius: 20px;
  background: var(--bg-color);
  color: var(--text-muted);
}

.step-indicator span.active {
  background: var(--primary-color);
  color: white;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.btn {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -15px;
}

.btn-primary {
  background: var(--primary-color);
  color: white;
}

.btn-secondary {
  background: var(--secondary-color);
  color: white;
}

.btn-success {
  background: var(--success-color);
  color: white;
}

/* Sieve Analysis Grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 7px;
  margin-bottom: 20px;
}

/* Asphalt Marshall Grid */
.grid-container-asphalt {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  margin-bottom: 20px;
}


.form-group {
  display: flex;
  flex-direction: column;

}

.form-control {
  padding: 8px;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  font-size: 14px;
  background-color: var(--input-bg);
  color: var(--input-text);
}

.label {
  margin-bottom: 10px;
  margin-left: 5px;
}

input[type="number"] {
  height: 35px;
  margin: 0 5px;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .form-container {
    margin-left: 0;
    padding: 20px;
  }

  .grid-container,
  .grid-container-asphalt {
    grid-template-columns: repeat(4, 1fr);
    overflow-x: auto;
  }
}

.bitumen-form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
}

.asphalt-marshall-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px;
  margin-bottom: 20px;
}



.form-group label {
  margin-bottom: 3px;
  margin-left: 10px;
}

.custom-inline-group {
  display: flex;
  gap: 20px;
  align-items: center;
}

.custom-inline-group .form-group {
  flex: 1;
  margin-bottom: 10px;
}