<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="activate">
        <i class="fas fa-tachometer-alt"></i> Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/clients" routerLinkActive="activate" *ngIf="role!='ROLE_TECH'">
        <i class="fas fa-users"></i> Clients
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/projects" routerLinkActive="activate" *ngIf="role!='ROLE_TECH'">
        <i class="fa-solid fa-diagram-project"></i> Project
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tests" routerLinkActive="activate">
        <i class="fas fa-flask"></i> Test Management
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/orders" routerLinkActive="activate">
        <i class="fas fa-shopping-cart"></i> Orders
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/bill" routerLinkActive="activate">
        <i class="fas fa-file-invoice-dollar"></i> Bill & Tax
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/notification" routerLinkActive="activate" *ngIf=" role!='ROLE_ADMIN' && role!='ROLE_QUALITY' ">
        <i class="fas fa-bell"></i> Notifications
        <span *ngIf="notificationCount > 0" class="notification-badge">
      {{notificationCount > 99 ? '99+' : notificationCount}}
    </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/profile" routerLinkActive="activate">
        <i class="fas fa-user"></i> Account
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/report" routerLinkActive="activate">
        <i class="fas fa-file-alt"></i> Test Report
      </a>
    </li> -->
    <li class="nav-item" *ngIf="role=='ROLE_ADMIN' || role=='ROLE_MANAGER'">
      <a class="nav-link" routerLink="/setting" routerLinkActive="activate">
        <i class="fas fa-cogs"></i> Settings
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/help" routerLinkActive="activate">
        <i class="fas fa-question-circle"></i> Help
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  (click)="logout()" routerLinkActive="activate">
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </li>
  </ul>
</div>
