<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/dashboard">
    <img src="assets/Q.jpeg" alt="Logo">
    <img style="width: 100px; margin-left: 5px" src="assets/Qudorat.png" alt="Logo">
  </a>

  <div *ngIf="isLogin" style="padding-left: 1050px ; font-size: 18px ; font-style: normal ;font-weight: bold;">
    {{ user.name }}
  </div>
  <div class="user-profile" routerLink="/profile">
    <img *ngIf="isLogin" [src]="environment.url + 'images/' + user.image.path" alt="Users" class="user-img">
  </div>
</nav>


