<div class="notification-container">
  <button class="notification-button" (click)="toggleDropdown()">
    🔔
    <span class="badge" *ngIf="unreadCount > 0">{{ unreadCount }}</span>
  </button>

  <div class="dropdown" *ngIf="dropdownOpen">
    <div *ngIf="notifications.length === 0" class="dropdown-item">لا توجد إشعارات</div>
    
    <div
    *ngFor="let notif of notifications"
    class="dropdown-item"
    [ngClass]="notif.read ? 'read' : 'unread'"
    (click)="markAsRead(notif)"
    >
        <strong>{{ notif.title }}</strong>
        <div class="small-text">{{ notif.message }}</div>
    </div>



  </div>
</div>
