<div class="body">
  <div class="register-container">
    <h4 class="text-center mb-4">Update Users</h4>
    <form (ngSubmit)="update()" #form="ngForm">
      <div class="row mb-3">
      </div>

      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name" required #name="ngModel">
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label for="email" class="form-label">Username</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="user.username" name="email" required #email="ngModel">
        </div>
        <div class="col-md-6">
          <label for="phone" class="form-label">Password</label>
          <input type="text" class="form-control" id="phone" [(ngModel)]="user.password" name="phone" required #phone="ngModel">
        </div>
      </div>

      <div class="mb-3">
        <label for="authority.id" class="form-label">Authority</label>
        <select class="form-select" aria-label="Default select example" name="authority.id" id="authority.id" [(ngModel)]="user.authority.id">
          <option value="{{auth.id}}" *ngFor="let auth of authorities">{{auth.name}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary save-btn" [disabled]="!form.valid">Save</button>
    </form>
  </div>
</div>
