<div class="form-container">
  <h1 class="header">Portland Cement Concrete Cylinders Compressive Strength Test</h1>
  <form #form="ngForm" (submit)="insert()">
    <div class="form-step">
      <div class="bitumen-form-container">

        <div class="d-flex align-items-center gap-1 mb-1">
          <div class="align-items-center">
            <label class="col-form-label me-1">Sample By</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.sampleBy" name="sampleBy" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Sample Date</label>
            <input type="date" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.sampleDate" name="sampleDate" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Sample No</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.sampleNo" name="sampleNo" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Test Name</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.nameOfTest" name="nameOfTest" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Test By</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.testBy" name="testBy" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Testing Date</label>
            <input type="date" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.testingDate" name="testingDate" required>
          </div>
        </div>

        <!-- Second Line -->
        <div class="d-flex align-items-center gap-1 mb-1">
          <div class="align-items-center">
            <label class="col-form-label me-1">Standard</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.classification" name="classification" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Consultant</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.consultant" name="consultant" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Owner</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.owner" name="owner" required>
          </div>
          <div class="align-items-center">
            <label class="col-form-label me-1">Location</label>
            <input type="text" class="form-control compact-input"
                   [(ngModel)]="compressiveStrength.location" name="location" required>
          </div>

        </div>
        <!-- Notes Line -->
        <div class="d-flex align-items-center mb-1 mt-2">
          <label class="col-form-label me-2">Notes</label>
          <input type="text" class="form-control"
                 [(ngModel)]="compressiveStrength.notes" name="notes" style="flex: 1;">
        </div>


        <h3 class="head">Concrete Compressive Strength Test</h3>

        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Cement Content</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.cementContent" name="cementContent" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Spec. 28 Days Strength</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.specTwintyEightDayStrength" name="specTwintyEightDayStrength" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Diameter (mm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.diameter" name="diameter" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Height (mm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.height" name="height" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Date Cast</label>
            <input type="date" class="form-control compact-input" [(ngModel)]="compressiveStrength.dateCast" name="dateCast" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Slump (mm)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.slump" name="slump" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Air Temp (°C)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.airTemperature" name="airTemperature" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Concrete Temp (°C)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.concreteTemperature" name="concreteTemperature" required>
          </div>
        </div>
        <h3 class="head">Concrete </h3>
        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample Age (days)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleAAge" name="sampleAAge" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight (kg)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightA" name="weightA" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Load (kN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.loadA" name="loadA" required>
          </div>
          <div class="form-group">
            <label class="col-form-label">Fracture (%)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.fractureA" name="fractureA" required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample Age (days)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleBAge" name="sampleBAge" >
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight (kg)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightB" name="weightB" >
          </div>
          <div class="form-group">
            <label class="col-form-label">Load (kN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.loadB" name="loadB" >
          </div>
          <div class="form-group">
            <label class="col-form-label">Fracture (%)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.fractureB" name="fractureB" >
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample Age (days)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleCAge" name="sampleCAge" >
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight (kg)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightC" name="weightC" >
          </div>
          <div class="form-group">
            <label class="col-form-label">Load (kN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.loadC" name="loadC" >
          </div>
          <div class="form-group">
            <label class="col-form-label">Fracture (%)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.fractureC" name="fractureC" >
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample Age (days)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleDAge" name="sampleDAge" >
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight (kg)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightD" name="weightD" >
          </div>
          <div class="form-group">
            <label class="col-form-label">Load (kN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.loadD" name="loadD" >
          </div>
          <div class="form-group">
            <label class="col-form-label">Fracture (%)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.fractureD" name="fractureD" >
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample Age (days)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleEAge" name="sampleEAge" >
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight (kg)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightE" name="weightE" >
          </div>
          <div class="form-group">
            <label class="col-form-label">Load (kN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.loadE" name="loadE" >
          </div>
          <div class="form-group">
            <label class="col-form-label">Fracture (%)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.fractureE" name="fractureE" >
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label class="col-form-label">Sample Age (days)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.sampleFAge" name="sampleFAge" >
          </div>
          <div class="form-group">
            <label class="col-form-label">Weight (kg)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.weightF" name="weightF" >
          </div>
          <div class="form-group">
            <label class="col-form-label">Load (kN)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.loadF" name="loadF" >
          </div>
          <div class="form-group">
            <label class="col-form-label">Fracture (%)</label>
            <input type="number" class="form-control compact-input" [(ngModel)]="compressiveStrength.fractureF" name="fractureF" >
          </div>
        </div>


        <div class="navigation-buttons">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
