<div class="d-flex justify-content-between">
  <div class="container mt-4">
    <h3 class="text-center mb-4">Test Manager</h3>

    <div class="scroll-container">
      <ul class="list-group">
        <li *ngFor="let test of tests; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <span>{{ test.name }} - {{ test.price }}</span>
            <input *ngIf="editIndex === i" type="number" class="form-control" [(ngModel)]="editTestPrice" />
          </div>

          <div>
            <button *ngIf="editIndex !== i" class="btn btn-primary btn-sm me-2" (click)="startEdit(i)">
              Edit Price
            </button>
            <button *ngIf="editIndex === i" class="btn btn-primary btn-sm me-2" (click)="update(i)">Save</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
