<div class="sieve-analysis-container">
  <h1 class="header">Sieve Analysis </h1>
  <form (ngSubmit)="update()" #form="ngForm">

    <!-- First Line -->
    <div class="d-flex align-items-center gap-1 mb-1">
      <div class="align-items-center">
        <label class="col-form-label me-1">Sample By</label>
        <input type="text" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.sampleBy" name="sampleBy" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-1">Sample Date</label>
        <input type="date" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.samplingDate" name="samplingDate" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-1">Sample No</label>
        <input type="number" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.sampleNo" name="sampleNo" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-1">Test Name</label>
        <input type="text" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.nameOfTest" name="nameOfTest" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-1">Testing Date</label>
        <input type="date" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.testingDate" name="testingDate" required>
      </div>
    </div>

    <!-- Second Line -->
    <div class="d-flex align-items-center gap-1 mb-1">
      <div class="align-items-center">
        <label class="col-form-label me-1">Standard</label>
        <input type="text" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.materialType" name="materialType" required>
      </div>

      <div class="align-items-center">
        <label class="col-form-label me-1">Total Weigh </label>
        <input type="number" class="form-control compact-input"
              [(ngModel)]="sieveAnalysis.totalWeigh" name="totalWeigh" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-1">Notes</label>
        <input type="text" class="form-control compact-input"
              [(ngModel)]="sieveAnalysis.notes" name="notes" maxlength="233">
      </div>

      <div class="align-items-center">
        <label class="col-form-label me-1">Source Of Sample</label>
        <input type="text" class="form-control compact-input"
              [(ngModel)]="sieveAnalysis.sourceOfSample" name="notes" maxlength="233">
      </div>
    </div>
    
    <!-- Notes Line -->
    <div class="grid-container mt-5">
      <div class="form-group">
        <label class="label">Standard(mm)</label>
        <input type="text" class="form-control" [value]="standard[0]">
      </div>
      <div class="form-group">
        <label class="label">Alternative(Inch)</label>
        <input type="text" class="form-control" [value]="alertnative[0]">
      </div>
      <div class="form-group">
        <label class="label">Retained Weight (gm)</label>
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedA" name="massRetainedA"
               id="massRetainedA" required>
      </div>
      <div class="form-group">
        <label class="label">Expand</label>
        <input type="text" maxlength="1" pattern="[+-]" placeholder="" class="form-control" [(ngModel)]="sieveAnalysis.expandA" name="expandA"
               id="expandA" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[1]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[1]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedB" name="massRetainedB"
               id="massRetainedB" required>
      </div>
      <div class="form-group">
        <input type="text" maxlength="1" pattern="[+-]" class="form-control" [(ngModel)]="sieveAnalysis.expandB" name="expandB"
               id="expandB" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[2]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[2]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedC" name="massRetainedC"
               id="massRetainedC" required>
      </div>
      <div class="form-group">
        <input type="text" maxlength="1" pattern="[+-]" class="form-control" [(ngModel)]="sieveAnalysis.expandC" name="expandC"
               id="expandC" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[3]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[3]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedD" name="massRetainedD"
               id="massRetainedD" required>
      </div>
      <div class="form-group">
        <input type="text" maxlength="1" pattern="[+-]" class="form-control" [(ngModel)]="sieveAnalysis.expandD" name="expandD"
               id="expandD" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[4]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[4]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedE" name="massRetainedE"
               id="massRetainedE" required>
      </div>
      <div class="form-group">
        <input type="text" maxlength="1" pattern="[+-]" class="form-control" [(ngModel)]="sieveAnalysis.expandE" name="expandE"
               id="expandE" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[5]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[5]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedF" name="massRetainedF"
               id="massRetainedF" required>
      </div>
      <div class="form-group">
        <input type="text" maxlength="1" pattern="[+-]" class="form-control" [(ngModel)]="sieveAnalysis.expandF" name="expandF"
               id="expandF" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[6] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[6]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedG" name="massRetainedG"
               id="massRetainedG" required>
      </div>
      <div class="form-group">
        <input type="text" maxlength="1" pattern="[+-]" class="form-control" [(ngModel)]="sieveAnalysis.expandG" name="expandG"
               id="expandG" required>
      </div>


      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[7] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[7]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedH" name="massRetainedH"
               id="massRetainedH" required>
      </div>
      <div class="form-group">
        <input type="text" maxlength="1" pattern="[+-]" class="form-control" [(ngModel)]="sieveAnalysis.expandH" name="expandH"
               id="expandH" required>
      </div>



      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[8] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[8]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedI" name="massRetainedI"
               id="massRetainedI" required>
      </div>
      <div class="form-group">
        <input type="text" maxlength="1" pattern="[+-]" class="form-control" [(ngModel)]="sieveAnalysis.expandI" name="expandI"
               id="expandI" required>
      </div>


      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[9] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[9]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedJ" name="massRetainedJ"
               id="massRetainedJ" required>
      </div>
      <div class="form-group">
        <input type="text" maxlength="1" pattern="[+-]" class="form-control" [(ngModel)]="sieveAnalysis.expandJ" name="expandJ"
               id="expandJ" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[10] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[10]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedK" name="massRetainedK"
               id="massRetainedK" required>
      </div>
      <div class="form-group">
        <input type="text" maxlength="1" pattern="[+-]" class="form-control" [(ngModel)]="sieveAnalysis.expandK" name="expandK"
               id="expandK" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[11] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[11]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedL" name="massRetainedL"
               id="massRetainedL" required>
      </div>
      <div class="form-group">
        <input type="text" maxlength="1" pattern="[+-]" class="form-control" [(ngModel)]="sieveAnalysis.expandL" name="expandL"
               id="expandL" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[12] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[12]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedM" name="massRetainedM"
               id="massRetainedM" required>
      </div>
      <div class="form-group">
        <input type="text" maxlength="1" pattern="[+-]"class="form-control" [(ngModel)]="sieveAnalysis.expandM" name="expandM"
               id="expandM" required>
      </div>
    </div>
    
    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
    </div>
  </form>
</div>


