<div class="sieve-analysis-container">
  <h1 class="header">Sieve Analysis </h1>
  <form (ngSubmit)="insert()" #form="ngForm">

    <div class="d-flex align-items-center gap-3 flex-wrap mb-3">
      <div class=" align-items-center ">
        <label class="col-form-label me-2">Total Wt. of Test Sample (gm)</label>
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.totalWeigh" name="totalWeigh"
               id="totalWeigh" required>
      </div>
      <div class=" align-items-center">
        <label class="col-form-label me-2">Sample By</label>
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.sampleBy" name="sampleBy" id="sampleBy"
               required>
      </div>
      <div class=" align-items-center">
        <label class="col-form-label me-2">Sample Date</label>
        <input type="date" class="form-control" [(ngModel)]="sieveAnalysis.samplingDate" name="samplingDate"
               id="samplingDate" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-2">Test By</label>
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.testBy" name="testBy"
               id="testBy" required>
      </div>
      <div class=" align-items-center">
        <label class="col-form-label me-2">Testing Date</label>
        <input type="date" class="form-control" [(ngModel)]="sieveAnalysis.testingDate" name="testingDate"
               id="testingDate" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-2">Standard</label>
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.materialType" name="materialType"
               id="materialType" required>
      </div>

      <div class=" d-flex  align-items-center" style="margin: -10px 0 -10px 5px">
        <label class="col-form-label me-2 ">Notes</label>
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.notes" name="notes" style="width: 1160px"
               id="notes" >
      </div>

    </div>


    <div class="grid-container">
      <div class="form-group">
        <label class="label">Standard(mm)</label>
        <input type="text" class="form-control" [value]="standard[0]">
      </div>
      <div class="form-group">
        <label class="label">Alternative(Inch)</label>
        <input type="text" class="form-control" [value]="alertnative[0]">
      </div>
      <div class="form-group">
        <label class="label">Retained Weight (gm)</label>
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedA" name="massRetainedA"
               id="massRetainedA" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[1]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[1]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedB" name="massRetainedB"
               id="massRetainedB" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[2]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[2]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedC" name="massRetainedC"
               id="massRetainedC" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[3]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[3]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedD" name="massRetainedD"
               id="massRetainedD" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[4]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[4]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedE" name="massRetainedE"
               id="massRetainedE" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[5]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[5]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedF" name="massRetainedF"
               id="massRetainedF" required>
      </div>
      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[6] ">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[6]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedG" name="massRetainedG"
               id="massRetainedG" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[7] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[7]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedH" name="massRetainedH"
               id="massRetainedH" required>
      </div>


      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[8] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[8]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedI" name="massRetainedI"
               id="massRetainedI" required>
      </div>


      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[9] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[9]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedJ" name="massRetainedJ"
               id="massRetainedJ" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[10] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[10]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedK" name="massRetainedK"
               id="massRetainedK" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[11] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[11]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedL" name="massRetainedL"
               id="massRetainedL" required>
      </div>

      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[12] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[12]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.massRetainedM" name="massRetainedM"
               id="massRetainedM" required>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
  </form>
</div>


