<div class="sieve-analysis-container">
  <h1 class="header">Sieve Analysis </h1>
  <form (ngSubmit)="update()" #form="ngForm">

    <!-- First Line -->
    <div class="d-flex align-items-center gap-1 mb-1">
      <div class="align-items-center">
        <label class="col-form-label me-1">Sample By</label>
        <input type="text" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.sampleBy" name="sampleBy" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-1">Sample Date</label>
        <input type="date" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.samplingDate" name="samplingDate" required>
      </div>

      <div class="align-items-center">
        <label class="col-form-label me-1">Test Name</label>
        <input type="text" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.nameOfTest" name="nameOfTest" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-1">Testing Date</label>
        <input type="date" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.testingDate" name="testingDate" required>
      </div>
    </div>

    <!-- Second Line -->
    <div class="d-flex align-items-center gap-1 mb-1">
      <div class="align-items-center">
        <label class="col-form-label me-1">Standard</label>
        <input type="text" class="form-control compact-input"
               [(ngModel)]="sieveAnalysis.materialType" name="materialType" required>
      </div>

      <div class="align-items-center">
        <label class="col-form-label me-1">Total Weigh </label>
        <input type="number" class="form-control compact-input"
              [(ngModel)]="sieveAnalysis.totalWeigh" name="totalWeigh" required>
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-1">Source Of Sample</label>
        <input type="text" class="form-control compact-input"
              [(ngModel)]="sieveAnalysis.sourceOfSample" name="notes">
      </div>
      <div class="align-items-center">
        <label class="col-form-label me-1">Description</label>
        <input type="text" class="form-control compact-input"
              [(ngModel)]="sieveAnalysis.description" name="description">
      </div>
    </div>

    <!-- Notes Line -->
    <div class="d-flex align-items-center mb-1">
      <div class="align-items-center">
        <label class="col-form-label me-1">Remarks</label>
        <textarea type="text" class="form-control compact-input"
              [(ngModel)]="sieveAnalysis.notes" name="notes" style="width: 880px; height: 100px;"></textarea>
      </div>
    </div>

    <div class="grid-container mt-5">
      <div class="form-group">
        <label class="label">Standard(mm)</label>
        <input type="text" class="form-control" [value]="standard[0]">
      </div>
      <div class="form-group">
        <label class="label">Alternative(Inch)</label>
        <input type="text" class="form-control" [value]="alertnative[0]">
      </div>
      <div class="form-group">
        <label class="label">Individual</label>
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.individualA" name="individualA"
               id="individualA" required>
      </div>
      <div class="form-group">
        <label class="label">Cumulative</label>
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.cumulativeA" name="cumulativeA"
               id="cumulativeA" required>
      </div>
      <div class="form-group">
        <label class="label">U.Expand</label>
        <input type="text" placeholder="" class="form-control" [(ngModel)]="sieveAnalysis.expandA" name="expandA"
               id="expandA">
      </div>
      <div class="form-group">
        <label class="label">Specification Limits</label>
        <input type="text" placeholder="" class="form-control" [(ngModel)]="sieveAnalysis.specificationLimitsA" name="specificationLimitsA"
               id="specificationLimitsA">
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[1]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[1]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.individualB" name="individualB"
               id="individualB" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.cumulativeB" name="cumulativeB"
               id="cumulativeB" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.expandB" name="expandB"
               id="expandB">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.specificationLimitsB" name="specificationLimitsB"
               id="specificationLimitsB">
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[2]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[2]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.individualC" name="individualC"
               id="individualC" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.cumulativeC" name="cumulativeC"
               id="cumulativeC" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.expandC" name="expandC"
               id="expandC">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.specificationLimitsC" name="specificationLimitsC"
               id="specificationLimitsC">
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[3]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[3]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.individualD" name="individualD"
               id="individualD" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.cumulativeD" name="cumulativeD"
               id="cumulativeD" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.expandD" name="expandD"
               id="expandD">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.specificationLimitsD" name="specificationLimitsD"
               id="specificationLimitsD">
      </div>


      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[4]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[4]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.individualE" name="individualE"
               id="individualE" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.cumulativeE" name="cumulativeE"
               id="cumulativeE" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.expandE" name="expandE"
               id="expandE">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.specificationLimitsE" name="specificationLimitsE"
               id="specificationLimitsE">
      </div>


      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[5]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[5]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.individualF" name="individualF"
               id="individualF" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.cumulativeF" name="cumulativeF"
               id="cumulativeF" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.expandF" name="expandF"
               id="expandF">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.specificationLimitsF" name="specificationLimitsF"
               id="specificationLimitsF">
      </div>

      <!-- Repeat for all 49 inputs manually -->
      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[6] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[6]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.individualG" name="individualG"
               id="individualG" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.cumulativeG" name="cumulativeG"
               id="cumulativeG" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.expandG" name="expandG"
               id="expandG">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.specificationLimitsG" name="specificationLimitsG"
               id="specificationLimitsG">
      </div>


      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[7] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[7]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.individualH" name="individualH"
               id="individualH" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.cumulativeH" name="cumulativeH"
               id="cumulativeH" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.expandH" name="expandH"
               id="expandH">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.specificationLimitsH" name="specificationLimitsH"
               id="specificationLimitsH">
      </div>



      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[8] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[8]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.individualI" name="individualI"
               id="individualI" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.cumulativeI" name="cumulativeI"
               id="cumulativeI" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.expandI" name="expandI"
               id="expandI">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.specificationLimitsI" name="specificationLimitsI"
               id="specificationLimitsI">
      </div>


      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[9] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[9]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.individualJ" name="individualJ"
               id="individualJ" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.cumulativeJ" name="cumulativeJ"
               id="cumulativeJ" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.expandJ" name="expandJ"
               id="expandJ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.specificationLimitsJ" name="specificationLimitsJ"
               id="specificationLimitsJ">
      </div>

      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[10] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[10]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.individualK" name="individualK"
               id="individualK" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.cumulativeK" name="cumulativeK"
               id="cumulativeK" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.expandK" name="expandK"
               id="expandK">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.specificationLimitsK" name="specificationLimitsK"
               id="specificationLimitsK">
      </div>

      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[11] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[11]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.individualL" name="individualL"
               id="individualL" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.cumulativeL" name="cumulativeL"
               id="cumulativeL" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.expandL" name="expandL"
               id="expandL">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.specificationLimitsL" name="specificationLimitsL"
               id="specificationLimitsL">
      </div>

      <!-- Repeat for all 49 inputs manually -->

      <div class="form-group">
        <input type="text" class="form-control" [value]="standard[12] ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [value]="alertnative[12]">
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.individualM" name="individualM"
               id="individualM" required>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="sieveAnalysis.cumulativeM" name="cumulativeM"
               id="cumulativeM" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.expandM" name="expandM"
               id="expandM">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="sieveAnalysis.specificationLimitsM" name="specificationLimitsM"
               id="specificationLimitsM">
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
    </div>
  </form>
</div>


