<div class="dashboard-container">
  <div class="dashboard-cards">
    <div class="card">
      <i class="fas fa-dollar-sign"></i>
      <h3>Total Balance</h3>
      <p>{{ (role === 'ROLE_MANAGER' || role === 'ROLE_ADMIN') ? totalBalance : 0 }}</p>
    </div>
    <div class="card">
      <i class="fas fa-tools"></i>
      <h3>Total Samples</h3>
      <p>{{ totalSamples }}</p>
    </div>

    <div class="card">
      <i class="fas fa-check-circle text-success"></i>
      <h3>Completed Samples</h3>
      <p>{{ completedSamples }}</p>
    </div>
    <div class="card">
      <i class="fas fa-times-circle text-danger"></i>
      <h3>Not Completed Samples</h3>
      <p>{{ notCompletedSamples }}</p>
    </div>
  </div>

  <div class="chart-table-container" *ngIf="role=='ROLE_ADMIN'">
    <div class="table-container notification_table">
      <table>
        <thead>
        <tr>
          <th>Message</th>
          <th>Time</th>
          <th> Seen</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let test of notification">
          <td>{{ test.message }}</td>
          <td>{{ test.time }}</td>
          <td>
            <i *ngIf="!test.read" class="fas fa-times text-danger"></i>
            <i *ngIf="test.read" class="fas fa-check text-success"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="chart-table-container">
    <div class="chart-container">
      <canvas id="samplesChart"></canvas>
    </div>

    <div class="table-container" *ngIf="role!='ROLE_TECH'">
      <table>
        <thead>
        <tr>
          <th>Test No</th>
          <th>Test Name</th>
          <th>Paid</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let test of tests">
          <td>{{ test.id }}</td>
          <td>{{ test.name }}</td>
          <td>
            <i *ngIf="!test.paid" class="fas fa-times text-danger"></i>
            <i *ngIf="test.paid" class="fas fa-check text-success"></i>
          </td>
          <td [class.completed]="test.status === 'Completed'"
              [class.processing]="test.status === 'Processing'"
              [class.pending]="test.status === 'Pending'">
            {{ test.status }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
