.dashboard-container {
  margin-top: 70px;
  margin-left: 260px;
  padding: 20px;
  background-color: var(--bg-color);
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.chart-table-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  gap: 20px;
}

.chart-container {
  width: 40%;
  background: var(--card-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.card {
  background: var(--card-bg);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  min-height: 120px;
}



.card i {
  font-size: 28px;
  color: var(--primary-color);
  margin-bottom: 7px;
}

.card h3 {
  font-size: 16px;
  color: var(--text-color);
}

.card p {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
}

.card:hover {
  transform: translateY(-3px);
}


.table-container {
  width: 60%;
  background: var(--card-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text-color);
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--border-color);
}

th {
  background-color: var(--bg-color);
}

td.completed {
  color: var(--success-color);
  font-weight: bold;
}

td.processing {
  color: var(--warning-color);
  font-weight: bold;
}

td.pending {
  color: var(--danger-color);
  font-weight: bold;
}

.notification_table {
  width: 100%;
}