.container {
  max-width: 1200px;
  padding:40px 0 0 150px;
  border-radius: 10px;
}

h2 {
  color: #0056b3;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  width: 70vw;

}

table{
  margin: 10px;
  width: 100%;
}

.table1{
  width: 70vw;
}

.table2{
  width: 70vw;
}

.table3{
  width: 70vw;
}

th, td {
  padding: 8px;
  border: 1px solid ;
}

img{
  margin: 10px;
}


/* .table th:first-child,
.table td:first-child {
  font-weight: bold;
} */

