.invoice-container {
  max-width: 800px;
  margin: auto;
  padding: 70px 0 0  0;
}

h2 {
  color: #0056b3;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  width: 70vw;
  text-align: center;
}

h4{
  width: 70vw;
  text-align: center;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin: 0 0 15px 0;
}

.head-table{
  width: 70vw;
}

.bitumen_table{
  width: 70vw;
}

.sieve-table{
  width: 70vw;
}

.asphalt-table{
  width: 70vw;
}

table , td , th {
  border: 1px solid;
}

td , th{
  padding: 5px;
}

canvas{
  margin: 50px 0 50px 0;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}
