.container {
  margin-top: 20px;
}

.table {
  width: 100%;
  text-align: center;
}

.badge {
  padding: 5px 10px;
  font-size: 14px;
}

:host {
  display: block;

  padding: 20px;
  margin-top: 60px;
}

.btn {
  margin: -66px 0 0 auto;
  float: right;
}

a {
  margin: 0 4px;
}

.table-responsive {
  max-height: 500px;
  overflow-y: auto;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--bg-color);
}

.table-responsive::-webkit-scrollbar {
  width: 8px;
  background-color: var(--bg-color);
  border-left: 2px solid var(--border-color);
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: var(--input-border);
  border-radius: 50px;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
  background: rgba(238, 236, 236, 0.8);
}