.invoice-container {
  max-width: 800px;
  margin: auto;
  padding: 100px 0 0 0;
  border-radius: 10px;
  background-color: var(--card-bg);
  color: var(--text-color);
}

h2 {
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  width: 70vw;
}

table {
  width: 100%;
  border: 1px solid var(--border-color);
  margin: 10px;
}

th,
td {
  padding: 8px;
  border: 1px solid var(--border-color);
}

.table1 {
  width: 70vw;
}

button {
  margin: 20px;
  padding: 10px 15px;
  background: var(--success-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}